body{
    font-family: 'Noto Sans KR', sans-serif;
}
ul, ol, li{list-style: none;padding:0;margin:0}

.surveyIndexWrap{
        width:90%;
        padding:10px;
        margin:0 auto;
		border:3px solid #e9ecef;
    }
 .surveyTop{
        width:100%;
    }
 .hospital_logo{
      
      
      
    }
    .surveyTitle{
        font-size:1.2em;
		background-color: #6f42c1;border-radius: 5px;color:#fff;text-align:center;padding:5px 0;
    }
   
    .kor_logo{
        display:block;
        width: 200px;
        height:49px;
        float:right;
    }
    .surveyInfo{
		font-size:0.9em;
		margin:5px 0;
		background-color: #e8e5f2;border-radius: 5px;color:#444;padding:5px;
    }
	


	.surv_box {font-size:0.9em;}
	.surv_box ul {padding:5px 0}
	.surv_box ul li.qu {width:60%;overflow:visible;float:left;}

	.surv_box2 {font-size:0.9em;}
	.surv_box2 ul {padding:5px 0}
	.surv_box2 ul li.qu {width:50%;overflow:visible;float:left}
   
	.surveyPersonal{font-size:0.9em;
        width:100%;
    }
  
   
    .surveyPersonTitle{
        width:100%;
		background-color:#e9ecef;text-align:center;padding:10px 0;font-weight:600;margin-bottom:10px;overflow:hidden;
       color: #5e3d99;
    }
  
    .input_txt{
        font-size: 0.9em;
        height: 17px;
        width:80px;
    }
    .input_select{
        font-size: 12px;
        height: 20px;width:85px;
    }
    .check_title{color:#000;
    }

    .buttonGroup{padding-top:40px;clear:both;
        text-align: center;
        width: 100%;
    }

    .btn_blue{
        position: relative;
        display: inline-block;
        width: 100px;
        height: 30px;
        padding: 6px 10px;
        border-left: 0;
        font-weight: 600;
        font-size: 13px;
        text-align: center;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        background-color: #1c99d7;
    }
    .btn_grey{
        position: relative;
        display: inline-block;
        width: 100px;
        height: 30px;
        padding: 6px 10px;
        border-left: 0;
        font-weight: 600;
        font-size: 13px;
        text-align: center;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        background-color: #8C8C8C;
    }

@media (min-width:768px) {
.surveyIndexWrap{
        width:800px;
    }
	
}

@media (min-width:480px) {

	.surv_box {font-size:0.9em;width:50%;float:left}
	.surv_box ul li.qu {width:190px;overflow:visible;float:left}

	.surv_box2 {font-size:0.9em;width:30%;float:left;}
	.surv_box2 ul li.qu {width:120px;overflow:visible;float:left}
    
}
